<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
        <title>Magazin de conectică</title>
        <meta name="keywords" content="Conectica, Retelistica, Cabluri, Accesorii, Echipamente">
        <meta name="description"
            content="Magazin de conectica, Adaptoare, Retelistica. Transport Gratuit la comenzi de peste 50 de lei.">
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <div id="banner">Radu Daniel - Dumitru</div>
        <div id="watermark">
            <p>Radu</p>
            <p>Daniel - Dumitru</p>
        </div>
        <button id="tema">
            <i class="fa-solid fa-droplet"></i>
        </button>
        <main id="grid-pagina">
            <section id="welcome">
                <div class="z-pattern-container">
                    <div class="z-pattern-image">
                        <img src="resurse/imagini/iconita.png" alt="Imagine atractivă">
                    </div>
                    <div class="z-pattern-text">
                        <h2>Bine ați venit!</h2>
                        <%- include("../fragmente/formular-login.ejs") %>
                            <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
                            <p>IP: <%- locals.IP %></p>
                            Bună ziua! Aici veți găsi toate produsele de care aveți nevoie pentru a vă conecta la
                            internet.
                            De
                            la cabluri, adaptoare, până la echipamente de rețelistică. Transportul este gratuit la
                            comenzi
                            de
                            peste 50 de lei. Pentru orice nelămurire, nu ezitați să ne contactați la adresa de email sau
                            la
                            numărul de telefon afișat mai jos.
                    </div>
                    <div class="animated-icon">
                        <i class="fas fa-star fa-beat-fade"></i>
                    </div>
                </div>
            </section>
            <section id="calendar">
                <h2>Calendar</h2>
                <ul>
                    <li>
                        <h3>Anunț 1</h3>
                        <p>Detalii despre anunțul 1...</p>
                        <p>Data: 2022-01-01</p>
                    </li>
                    <li>
                        <h3>Anunț 2</h3>
                        <p>Detalii despre anunțul 2...</p>
                        <p>Data: 2022-01-02</p>
                    </li>
                    <li>
                        <h3>Eveniment 1</h3>
                        <p>Detalii despre evenimentul 1...</p>
                        <p>Data: 2022-01-03</p>
                    </li>
                    <li>
                        <h3>Eveniment 2</h3>
                        <p>Detalii despre evenimentul 2...</p>
                        <p>Data: 2022-01-04</p>
                    </li>
                </ul>
            </section>
            <section id="tabel">
                <div id="table-container">
                    <table id="tab-orar">
                        <thead>

                            <tr>
                                <th>Cod</th>
                                <th>Perioadă</th>
                                <th>Zi</th>
                                <th>Interval dimineață</th>
                                <th>Pauza de masă</th>
                                <th>Interval seară</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td rowspan="5">Zile<br />Lucrătoare</td>
                                <td>Luni</td>
                                <td>10-12</td>
                                <td>12-14</td>
                                <td>14-20</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Marți</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Miercuri</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Joi</td>
                                <td>9-11</td>
                                <td>11-13</td>
                                <td>14-21</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td>Vineri</td>
                                <td>9-12</td>
                                <td>12-14</td>
                                <td>14-19</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td rowspan="2">Weekend</td>
                                <td>Sâmbătă</td>
                                <td>10-12</td>
                                <td>12-13</td>
                                <td>13-16</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Duminică</td>
                                <td>10-14</td>
                                <td>-</td>
                                <td>închis</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">Programul poate suferi modificări în funcție de situația epidemiologică.
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
            <section id="anunturi">
                <h2>Anunțuri</h2>
                <ul>
                    <li>Noi produse adăugate în stocul nostru</li>
                    <li>Oferte speciale și reduceri</li>
                    <li>Evenimente și promoții viitoare</li>
                </ul>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UXFtqm0KXfY?si=Pd6b5wG6hLLvFUFu"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </section>

            <section id="promotii">
                <h2>Promoții</h2>
                <ul>
                    <li>Cumpără unul, primește unul gratuit la articolele selectate</li>
                    <li>Reduceri la comenzi en-gros</li>
                    <li>Oferte cu durată limitată la produse populare</li>
                </ul>
                <div id="container-iframe">
                    <iframe name="ifr-video" width="560" height="315"
                        src="https://www.youtube.com/embed/Ex6Cv5DFzOM?si=qyXkvhKPg8PxAJJS" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/f3DfJxvkN-8?si=OVqlux-s3FUX_2bC" target="ifr-video"
                            title="Airpods 2 Pro">Airpods 2 Pro</a>
                        <a href="https://www.youtube.com/embed/YmwskGLycHo?si=jr5eqxiZDDKsJVch" target="ifr-video"
                            title="iPhone 15">iPhone 15</a>
                        <a href="https://www.youtube.com/embed/XaqOejIaFgM?si=Ub0-GC0u8UDje5kL" target="ifr-video"
                            title="Galaxy S24">Galaxy S24</a>
                    </div>
                </div>
            </section>

            <section id="info-server">
                <h2>Info Server</h2>
                <ul>
                    <li>Prelucrare rapidă a datelor</li>
                    <li>Stocare securizată a datelor</li>
                    <li>Monitorizare și suport server 24/7</li>
                </ul>
            </section>

            <section id="lista-useri">
                <h2>Useri Online</h2>
                <% include("../fragmente/useri-online.ejs") %>
                    <%- include("../fragmente/locatie.ejs") %>
                        <%- include("../fragmente/ora-server-client.ejs") %>
                            <div class="container-calendar">
                                <%- include("../fragmente/evenimente.ejs") %>
                            </div>
            </section>

            <section id="stats">
                <h2>Statistici site</h2>
                <ul>
                    <li>Numărul total de vizitatori</li>
                    <li>Produsele cele mai vizualizate</li>
                    <li>Paginile cu cea mai bună performanță</li>
                </ul>
            </section>
        </main>
        <hr>
        <br>
        <br>
        <div id="reflexie">
            <div id="text-reflectat1">
                Text cu reflexie
            </div>
            <div id="text-reflectat2">
                Text cu reflexie
            </div>
        </div>
        <br>
        <div class="efect-css-duotone"></div>
        <section id="galerie-animata">
            <h2>Galerie Animată</h2>
            <div class="galerie-animata">
                <% var zile_saptamana=["duminica", "luni" , "marti" , "miercuri" , "joi" , "vineri" , "sambata" ]; var
                    d=new Date(); var zi_curenta=zile_saptamana[d.getDay()]; var caleGalerie="resurse/imagini/galerie/"
                    ; var index=1; for (let imag of locals.imagini) { if (imag?.intervale_zile?.includes(zi_curenta)) {
                    var indexRoman=convertToRoman(index); %>
                    <figure>
                        <picture>
                            <source srcset="<%= caleGalerie + imag.fisier_imagine_mic %>" media="(max-width: 768px)" />
                            <source srcset="<%= caleGalerie + imag.fisier_imagine_mediu %>"
                                media="(max-width: 1200px)" />
                            <img src="<%= caleGalerie + imag.fisier_imagine %>" alt="<%= imag.continut_alternativ %>"
                                title="<%= imag.descriere_poza %>">
                        </picture>
                    </figure>
                    <% index++; } } %>
            </div>
        </section>
        <section id="galerie-statica">
            <h2>Galerie Statică</h2>
            <div id="grid-galerie">
                <% function convertToRoman(num) { const romanNumerals=["i", "ii" , "iii" , "iv" , "v" , "vi" , "vii"
                    , "viii" , "ix" , "x" , "xi" , "xii" ,"xiii", "xiv" , "xv" ]; if (num>= 1 && num <=
                        romanNumerals.length) { return romanNumerals[num - 1]; } else { return num.toString(); } } var
                        zile_saptamana=["duminica", "luni" , "marti" , "miercuri" , "joi" , "vineri" , "sambata" ]; var
                        d=new Date(); var zi_curenta=zile_saptamana[d.getDay()]; var
                        caleGalerie="resurse/imagini/galerie/" ; var index=1; for (let imag of locals.imagini) { if
                        (imag?.intervale_zile?.includes(zi_curenta)) { var indexRoman=convertToRoman(index); %>
                        <figure>
                            <picture>
                                <source srcset="<%= caleGalerie + imag.fisier_imagine_mic %>"
                                    media="(max-width: 768px)" />
                                <source srcset="<%= caleGalerie + imag.fisier_imagine_mediu %>"
                                    media="(max-width: 1200px)" />
                                <img src="<%= caleGalerie + imag.fisier_imagine %>"
                                    alt="<%= imag.continut_alternativ %>" title="<%= imag.descriere_poza %>">
                            </picture>
                            <figcaption>
                                <%= indexRoman + '. ' + imag.descriere_poza %>
                            </figcaption>
                        </figure>
                        <% index++; } } %>
            </div>
        </section>
        <h2>Videoclip</h2>
        <video id="video-player" controls poster="/resurse/videos/thumbnails/poster_video.jpg" preload="none"
            width="100%" min-width="300px" max-width="800px">
            <source src="/resurse/videos/video.mp4" type="video/mp4">
            <source src="/resurse/videos/video.webm" type="video/webm">
            <track src="/resurse/videos/subs/ro.srt" kind="subtitles" srclang="ro" label="Română" default>
            <track src="/resurse/videos/subs/eng.srt" kind="subtitles" srclang="en" label="English">
            Your browser does not support the video tag.
        </video>
        <%- include("../fragmente/footer.ejs") %>
</body>
</html>