<!DOCTYPE html>
<html lang="ro">

<head>
        <title>Magazin de conectică</title>
        <meta name="keywords" content="Conectica, Retelistica, Cabluri, Accesorii, Echipamente">
        <meta name="description"
            content="Magazin de conectica, Adaptoare, Retelistica. Transport Gratuit la comenzi de peste 50 de lei.">
        <link rel="stylesheet" href="/resurse/css/produs.css" type="text/css" />
        <link rel="stylesheet" href="/resurse/css/stil.css">
        <link rel="stylesheet" href="/resurse/css/general.css">
        <link rel="stylesheet" href="/resurse/css/nav.css">
        <% include("../fragmente/head.ejs") %>
        <script type="text/javascript" src="/resurse/js/produse.js"></script>
</head>
<body>
    <%- include("../fragmente/header") %>
        <main>
            <section>
                <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img src="/resurse/imagini/produse/<%- locals.prod.imagine %>"
                            alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>
                </article>

            </section>
        </main>
        <%- include("../fragmente/footer") %>
</body>
</html>