<!DOCTYPE html>
<html lang="ro">

<head>
        <title>Magazin de conectică</title>
        <meta name="keywords" content="Conectica, Retelistica, Cabluri, Accesorii, Echipamente">
        <meta name="description"
            content="Magazin de conectica, Adaptoare, Retelistica. Transport Gratuit la comenzi de peste 50 de lei.">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <% include("../fragmente/head.ejs") %>
        <% include("../fragmente/header.ejs") %>
        <script type="text/javascript" src="/resurse/js/produse.js"></script>
        <script type="text/javascript" src="/resurse/js/produse-cos.js"></script>
</head>
<body>
    <% include("../fragmente/header.ejs") %>
        <main>
            <label>Nume: <input type="text" id="inp-nume"></label>
            <label>Pret minim: <input type="range" id="inp-pret" value="0" min="0" max="70"> <span
                    id="infoRange">(0)</span></label>
            <label>Selectează categorie:
                <select id="inp-categorie">
                    <option id="sel-toate" selected value="toate">Toate</option>
                    <option value="Retelistica">Retelistica</option>
                    <option value="Adaptoare">Adaptoare</option>
                    <option value="Cabluri">Cabluri</option>
                    <option value="Accesorii">Accesorii</option>
                </select>
            </label>
            <p>
                <button id="filtrare">Filtreaza</button>
                <button id="resetare">Reseteaza</button><br />
                <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
                <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
            </p>
            <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
            <section id="produse">
                <h2>Produse</h2>
                <div class="grid-produse">
                    <% for (let prod of locals.produse) { %>
                        <article class="produs">
                            <h3 class="nume">Nume: <a href="/produs/<%- prod.id %>"><span class="val-nume"><%- prod.nume
                                            %></span></a></h3>
                            <div class="info-prod">
                                <p class="pret">Pret: <span class="val-pret"><%- prod.pret %></span></p>
                                <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie_produs
                                            %></span></p>
                                <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere %></span>
                                </p>
                            </div>
                            <figure>
                                <a href="/produs/<%- prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>"
                                        style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                            </figure>
                            <label class="selecteaza-cos">
                                Selectează:<br />
                                <input type="checkbox" class="select-cos" value="<%- prod.id %>" autocomplete="off">
                            </label>
                        </article>
                        <% } %>
                </div>
            </section>
        </main>
        <% include("../fragmente/footer") %>
</body>
</html>